<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataBaseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataBaseManager.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DB_TxEstudio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DataBaseManager.Properties.Settings>
            <setting name="HelperName" serializeAs="String">
                <value>SqlHelper</value>
            </setting>
        </DataBaseManager.Properties.Settings>
    </applicationSettings>
</configuration>