<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TxEstudioApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TxEstudioApplication.Properties.Settings>
            <setting name="OperatorsPath" serializeAs="String">
                <value>\Operators\</value>
            </setting>
            <setting name="AddOnsPath" serializeAs="String">
                <value>\AddOns\</value>
            </setting>
            <setting name="UseDatabase" serializeAs="String">
                <value>False</value>
            </setting>
        </TxEstudioApplication.Properties.Settings>
    </applicationSettings>
</configuration>